language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install codecov
  - pip install tox-travis
  - pip install pytest
  - pip install -r requirements.txt
  - pip install -e .
# command to run tests
script:
  - tox # or py.test for Python versions 3.5 and below